
        <footer>
            <div id="footer1">
                <h3>ISABELLA'S FLORIST</h3><br>
                <h4>199 Queens Ave. </h4>
                <h4>London, ON N6A 1J1</h4>
                <h4>Local: (519) 701-0101</h4><br>
                <h4>Monday: 9:00 - 5:00</h4>
                <h4>Tuesday: 9:00 - 5:00</h4>
                <h4>Wednesday: 9:00 - 5:00</h4>
                <h4>Thursday: 9:00 - 6:00</h4>
                <h4>Friday: 9:00 - 6:00</h4>
                <h4>Saturday: 9:00 - 4:00</h4>
                <h4>Sunday: 11:00 - 4:00</h4><br>
            </div>
            <div id="footer2">
                <h3>NEWSLETTER</h3><br>
                <h4>Get updates, coupons, and discounts</h4><br>
                <h3>Email Address</h3>
                <h3>SING UP</h3>
            </div>
            <div id="footer3">
                <h3>LOCAL DELIVERY</h3><br>
                <h4> >> London Delivery</h4>
                <h4> >> Arva Delivery</h4>
                <h4> >> Thamesford Delivery</h4>
                <h4> >> Kilworth Delivery</h4>
                <h4> >> Komoka Delivery</h4>
            </div>
            <div id="footer4">
                <h3>RESOURCES</h3>
                <h4> >> Contact Us</h4>
                <h4> >> Shopping Cart</h4>
                <h4> >> Sitemap</h4>
                <h4> >> Advances Search</h4>
                <h4> >> Admin</h4>
                <h4> >> Customer Login</h4>
            </div>
            <div id="footer5">
                <p class="text-center text-muted">&copy; Copyright 2022 The Awesome People</p>
            </div>
        </footer>
        <script src="/public/js/jquery.js"></script>
        <script src="/public/js/script.js" ></script> 
    </body>
</html>
