
<div className="app">
    <form id="contactForm" action="contact.php" method="post">
        <h3>Contact Us by</h3>
        <img id="emailIcon" src="/public/images/email.png" alt="email icon" 
            onclick="ToggleForm()"><br>
        <input type="text" name="name" id="name" placeholder="name"><br>
        <input type="text" name="email" id="email" placeholder="email"><br>
        <select name="subject" id="subject" title="subject">
            <option value="">Subject</option>
            <option value="General">General</option>
            <option value="Feedback">Feedback</option>
            <option value="Complaint">Complaint</option>
            <option value="Suggestion">Suggestion</option>
        </select><br> 
        <textarea name="message" id="message" cols="30" rows="6" 
            placeholder="your message here..."></textarea><br>
        <input type="submit" value="Send">
    </form>
</div>